.App {
  text-align: center;
  padding: 20px;
}

.view-options button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #55356e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.view-options button:hover {
  background-color: #76a787;
}

.content {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    padding: 10px;
  }

  table {
    font-size: 14px;
  }

  .view-options button {
    width: 100%;
    margin-bottom: 10px;
  }
}
